@media all and (max-width: 1170px) {
  #root #wrap #main #section2 .container .gap .wrap .title h2 {
    font-size: 20px;
  }
  #root #wrap #main #section2 .container .gap .wrap .content,
  #root #wrap #main #section3 .container .gap .wrap .content,
  #root #wrap #main #section7 .container .gap .wrap .content,
  #root #wrap #main #section9 .container .gap .wrap .content {
    padding: 6.838% 0 0 0;
  }
  #root #wrap #main #section3 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section3 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #root #wrap #main #section3 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #root #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 25px;
  }
  #root #wrap #main #section3 .container .gap .wrap .title h2 br {
    display: block;
  }
  #root #wrap #quick {
    display: none;
  }
  #root #wrap #main #section6 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section6 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #root #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap {
    margin: 5px;
  }
  #root #wrap #main #section7 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section7 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #root #wrap #main #section7 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(1) .img-box {
    height: 500px;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li {
    text-align: center;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li h2 {
    font-size: 2.564102564vw;
  }
  #root #wrap #main #section9 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section9 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
}

@media all and (max-width: 1024px) {
  #root #wrap #header .container .gap .wrap .mobile-btn-box {
    display: block;
  }
  #root #wrap #header .container .gap .wrap #nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: black;
    height: auto;
    height: 100vh;
    overflow-y: auto;
  }
  #root #wrap #header .container .gap .wrap #nav > ul {
    width: 100%;
    height: auto;
    display: block;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li {
    height: auto;
    margin: 0;
    border-bottom: 1px solid #444;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li > a.main-btn {
    color: #fff;
    padding: 0 20px;
    height: 38px;
    line-height: 38px;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #232323;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap {
    padding: 0 20px;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul {
    width: 100%;
    display: block;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li {
    width: 100%;
    border-right: 0;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl {
    padding: 0;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl dt, #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl dd {
    border-bottom: 1px solid #303030;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #232323;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap {
    padding: 0 20px;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span {
    color: #fff;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span::after {
    display: none;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub {
    border-top: 1px solid #303030;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #232323;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap {
    padding: 0;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap ul li {
    border-bottom: 1px solid #303030;
  }
  #root #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap ul li a span {
    color: #9d9d9d;
  }
  #root #wrap #header.show .container .gap .wrap #nav {
    top: 60px;
  }
  #root #wrap #header.show .container .gap .wrap #nav > ul > li .sub.sub1356, #root #wrap #header.show .container .gap .wrap #nav > ul > li .sub.sub24 {
    top: 0;
  }
  #root #wrap #main #section2 .container .gap .wrap .content > ul > li .col-gap .col-wrap .top img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  #root #wrap #main #section2 .container .gap .wrap .content > ul > li .col-gap .col-wrap .top img:hover {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
}

@media all and (max-width: 980px) {
  #root #wrap #main #section2 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section2 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #root #wrap #main #section2 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #root #wrap #main #section5 .container .gap .wrap .content .svg-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section5 .container .gap .wrap .content .svg-box li {
    width: 50%;
  }
  #root #wrap #main #section5 .container .gap .wrap .content .svg-box li .col-gap {
    margin: 20px 15px;
  }
  #root #wrap #main #section10 .container .gap .wrap .content form {
    width: 80%;
  }
  #root #wrap #footer .container .gap .wrap .content {
    text-align: center;
  }
  #root #wrap #footer .container .gap .wrap .content .top ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #footer .container .gap .wrap .content .top ul li {
    width: 100%;
    padding: 5px 0;
  }
  #root #wrap #footer .container .gap .wrap .content .bottom ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #footer .container .gap .wrap .content .bottom ul li {
    width: 100%;
    padding: 5px 0;
  }
  #root #wrap #footer .container .gap .wrap .content .bottom ul li:nth-child(1), #root #wrap #footer .container .gap .wrap .content .bottom ul li:nth-child(2) {
    text-align: center;
  }
  #root #wrap #footer {
    padding: 70px 0 50px 0;
  }
}

@media all and (max-width: 780px) {
  #root #wrap #main #section6 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section6 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #root #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap {
    margin: 5px;
  }
  #root #wrap #main #section7 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section7 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #root #wrap #main #section7 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(1) .img-box {
    height: 400px;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul {
    padding: 10.89482%;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li {
    text-align: center;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li h2 {
    font-size: 3.58974vw;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li p {
    line-height: 160%;
  }
  #root #wrap #main #section9 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
}

@media all and (max-width: 740px) {
  #root #wrap #main #section2,
  #root #wrap #main #section3 {
    padding: 60px 0;
  }
  #root #wrap #main #section2 .container .gap .wrap .title,
  #root #wrap #main #section7 .container .gap .wrap .title,
  #root #wrap #main #section9 .container .gap .wrap .title {
    width: 80%;
    margin: 0 auto;
  }
  #root #wrap #main #section2 .container .gap .wrap .title h2,
  #root #wrap #main #section7 .container .gap .wrap .title h2,
  #root #wrap #main #section9 .container .gap .wrap .title h2 {
    font-size: 25px;
  }
  #root #wrap #main #section2 .container .gap .wrap .title h2 br,
  #root #wrap #main #section7 .container .gap .wrap .title h2 br,
  #root #wrap #main #section9 .container .gap .wrap .title h2 br {
    display: none;
  }
  #root #wrap #main #section4 .container .gap .wrap #nav {
    padding: 50px 0;
  }
  #root #wrap #main #section4 .container .gap .wrap #nav ul li {
    margin: 10px 0;
    display: block;
  }
  #root #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 23px;
  }
  #root #wrap #main #section3 .container .gap .wrap .title h2 br {
    display: block;
  }
}

@media all and (max-width: 620px) {
  #root #wrap #main #section2 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #root #wrap #footer {
    padding: 60px 0 40px 0;
  }
}

@media all and (max-width: 540px) {
  #root #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h3 {
    font-size: 2.08092vw;
  }
  #root #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h2 {
    font-size: 6.62112vw;
  }
  #root #wrap #main #section3 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #root #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 19px;
  }
}

@media all and (max-width: 480px) {
  #root #wrap #main #section5 .container .gap .wrap .content .svg-box li {
    width: 100%;
  }
  #root #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap .caption ul li {
    padding: 6px 0;
  }
  #root #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap .caption ul li:last-child {
    padding-top: 4%;
  }
  #root #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 17px;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(1) .img-box {
    height: 300px;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul {
    padding: 10.1685%;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li {
    text-align: center;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li h2 {
    font-size: 3.84615vw;
  }
  #root #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li p {
    line-height: 140%;
  }
  #root #wrap #main #section2 .container .gap .wrap .title,
  #root #wrap #main #section7 .container .gap .wrap .title,
  #root #wrap #main #section9 .container .gap .wrap .title {
    width: 80%;
    margin: 0 auto;
  }
  #root #wrap #main #section2 .container .gap .wrap .title h2,
  #root #wrap #main #section7 .container .gap .wrap .title h2,
  #root #wrap #main #section9 .container .gap .wrap .title h2 {
    font-size: 20px;
  }
  #root #wrap #main #section2 .container .gap .wrap .title h2 br,
  #root #wrap #main #section7 .container .gap .wrap .title h2 br,
  #root #wrap #main #section9 .container .gap .wrap .title h2 br {
    display: none;
  }
}
