@media all and (max-width: 1170px) {

  #root #wrap #main #section2 .container .gap .wrap .title h2 {font-size: 20px;}

  #root #wrap #main #section2 .container .gap .wrap .content ,
  #root #wrap #main #section3 .container .gap .wrap .content ,
  #root #wrap #main #section7 .container .gap .wrap .content ,
  #root #wrap #main #section9 .container .gap .wrap .content {
    padding: 6.838% 0 0 0;
  }

  #root #wrap #main #section3 .container .gap .wrap .content > ul {
    display: flex;
    flex-flow: row wrap;
    > li {width: 50%;
      .col-gap { margin:15px;}
    }
  }

  #root #wrap #main #section3 .container .gap .wrap .title h2 {font-size: 25px;}
  
  #root #wrap #main #section3 .container .gap .wrap .title h2 br {display: block;}

  #root #wrap #quick {display: none;}

  #root #wrap #main #section6 .container .gap .wrap .content > ul {flex-flow:row wrap;
    > li {width: 50%;  
      .col-gap {margin:5px;}  
    }
  }

  #root #wrap #main #section7 .container .gap .wrap .content > ul {flex-flow:row wrap;
    > li {width:50%;
      .col-gap {margin:15px;}
    }
  }

  #root #wrap #main #section8 .container .gap .wrap .content > ul {flex-flow:row wrap;
    > li {width: 100%;
      &:nth-child(1) .img-box {height:500px;}
      &:nth-child(2) ul {
        li {
          h2{font-size:2.564102564vw;}
          text-align: center;
        }
      }
    }
  }

  #root #wrap #main #section9 .container .gap .wrap .content > ul {flex-flow: row wrap;
    > li {width: 50%;}
  }

}

@media all and (max-width: 1024px) {

  #root #wrap #header .container .gap .wrap .mobile-btn-box {display: block;}
  
  #root #wrap #header .container .gap .wrap #nav {
    align-items: flex-start;
    position: absolute;
    top: 72px;
    left: 0;
    width:100%;
    background: rgba(0,0,0, 1);
    height: auto;
    height: 100vh;
    overflow-y: auto;
    > ul {
      width: 100%;
      height: auto;   
      display: block;
      > li {
        height: auto;
        margin: 0;
        border-bottom: 1px solid #444;
        > a.main-btn {
          color:#fff;
          padding:0 20px;
          height: 38px;
          line-height: 38px;
        }
        .sub.sub1356 {
          display: none;
          position: relative;
          top:0;
          left:0;
          width:100%;
          background:#232323;
          .sub-gap {padding: 0 20px;
            ul {
              width: 100%;
              display: block;
              li { 
                width: 100%;
                border-right:0;
                dl {padding:0;
                  dt, dd { border-bottom: 1px solid #303030;}
                }
              }
            }
          }
        }
        .sub.sub24 {  
          display: none;
          position: relative;
          top:0;
          left:0;
          width:100%;
          background:#232323;
          .sub-gap {padding: 0 20px;
            > ul {
              > li {                 
                > a {
                  > span {color:#fff;
                    &::after {display: none;}
                  }
                }
                .sub-sub {
                  border-top: 1px solid #303030;
                  display: block;
                  position: relative;
                  top: 0;
                  left: 0;
                  width: 100%;
                  background:#232323;
                  .sub-gap {padding: 0;
                    ul {
                      li {border-bottom: 1px solid #303030;                      
                        a span {color:#9d9d9d;}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #root #wrap #header.show .container .gap .wrap  #nav {top: 60px;
    > ul > li {
      .sub.sub1356, .sub.sub24 {top:0;}
    }
  }

  #root #wrap #main #section2 .container .gap .wrap .content > ul > li .col-gap .col-wrap .top img {filter: grayscale(0);
     &:hover {filter: grayscale(1); }
  }

}

@media all and (max-width: 980px) {

  #root #wrap #main #section2 .container .gap .wrap .content > ul {  
    display: flex;
    flex-flow: row wrap;
    > li {width: 50%;
      .col-gap {margin:15px;}
    }
  }
  
  #root #wrap #main #section5 .container .gap .wrap .content .svg-box {flex-flow: row wrap;
    li {width: 50%;
      .col-gap {margin:20px 15px;}
    }
  }

  #root #wrap #main #section10 .container .gap .wrap .content form {width: 80%;}

  #root #wrap  #footer .container .gap .wrap .content {text-align: center;
    .top ul {flex-flow: row wrap;
      li {
        width: 100%;
        padding:5px 0;
      }
    }
    .bottom ul {flex-flow: row wrap;
      li {
        width: 100%;
        padding:5px 0;
        &:nth-child(1), &:nth-child(2) {text-align: center;}
      }
    }
  }

  #root #wrap #footer {padding: 70px 0 50px 0;}

}

@media all and (max-width: 780px){
  #root #wrap #main #section6 .container .gap .wrap .content > ul {flex-flow:row wrap;
    > li {width: 100%;  
      .col-gap {margin:5px;}  
    }
  }

  #root #wrap #main #section7 .container .gap .wrap .content > ul {flex-flow:row wrap;
    > li {width:100%;
      .col-gap {margin:15px;}
    }
  }

  #root #wrap #main #section8 .container .gap .wrap .content > ul {flex-flow:row wrap;
    > li {width: 100%;
      &:nth-child(1) .img-box {height:400px;}
      &:nth-child(2){
        ul {padding:14.52643% * .75;
          li {text-align: center;
            h2{font-size:2.564102564vw * 1.4;}
            p {line-height:160%;}
          }
        }
      }
    }
  }

  #root #wrap #main #section9 .container .gap .wrap .content > ul > li {width: 100%;}

}

@media all and (max-width: 740px){

    $section-padding: 60px 0;
    
    #root #wrap #main #section2 ,
    #root #wrap #main #section3 {padding: $section-padding;}

    #root #wrap #main #section2 .container .gap .wrap .title  ,
    #root #wrap #main #section7 .container .gap .wrap .title  ,
    #root #wrap #main #section9 .container .gap .wrap .title  {width: 80%;margin:0 auto;
      h2 {font-size: 25px;
        br {display: none;}
      }
    }

    #root #wrap #main #section4 .container .gap .wrap #nav {padding:50px 0;
      ul li {       
        margin:10px 0;
        display:block;      
      }      
    }

    #root #wrap #main #section3 .container .gap .wrap .title h2 {font-size: 23px;
      br {display: block;}
    }
} 

@media all and (max-width: 620px) {
  #root #wrap #main #section2 .container .gap .wrap .content > ul > li {width: 100%;}

  #root #wrap #footer {padding: 60px 0 40px 0;}

}

@media all and (max-width: 540px) {

  #root #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption {
    h3 {font-size: 0.945874934vw * 2.2;}
    h2 {font-size: 3.678402522vw * 1.8;}
  }

  #root #wrap #main #section3 .container .gap .wrap .content > ul > li {width: 100%;}

  #root #wrap #main #section3 .container .gap .wrap .title h2 {font-size: 19px;}

}

@media all and (max-width: 480px) {
  #root #wrap #main #section5 .container .gap .wrap .content .svg-box li {width: 100%;}

  #root #wrap #main #section6 .container .gap .wrap .content > ul > li .col-gap .col-wrap .caption ul li {padding: 6px 0;
    &:last-child {padding-top: 4%;}
  }

  #root #wrap #main #section3 .container .gap .wrap .title h2 {font-size: 17px;}

  #root #wrap #main #section8 .container .gap .wrap .content > ul {flex-flow:row wrap;
    > li {width: 100%;
      &:nth-child(1) .img-box {height:300px;}
      &:nth-child(2) ul {padding:14.52643% * .7;
        li {text-align: center;
          h2{font-size:2.564102564vw * 1.5;}
          p {line-height: 140%;}
        }
      }
    }
  }

  #root #wrap #main #section2 .container .gap .wrap .title  ,
  #root #wrap #main #section7 .container .gap .wrap .title  ,
  #root #wrap #main #section9 .container .gap .wrap .title  {
    width: 80%;
    margin:0 auto;
    h2 {font-size: 20px;
      br {display: none;}
    }
  }

}